div {
    display: flex;
  }
section {
    width: 200px;
    text-align: center;
}  

a {
    font-family: cursive;
    font-size: 14px;
    display: block;
}
a:hover {
    color: pink;
}

img {
    width: 150px;
  }